*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;

}
a{
    text-decoration: none;
}

.container{
    max-width: 40vw;
    padding: 2rem 1rem;
    margin: 0 auto;   /* upper bottom && left right*/
    /* background-color: aqua; */



}
.header{
    margin-bottom: 2.8rem;

}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px; /* header desc kiti long aal pahoje 
                        kahi 2nd line var pn yeil*/
    text-align: center;
    color: rgb(99, 94, 94) ;
    margin: 0 auto ; 
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card_container{
    width:max-content;
    
    display: flex;
    flex-direction: column;
    border:2px solid rgb(93, 91, 91);
    border-radius: 10px;

}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;

}

.card_image{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;

}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 0.7s;

}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem ;
    color: rgb(46, 43, 43);
}

.class_title_anchor:hover .card_title{
    color: blue;
}

.card_desc{
    color: rgb(92, 82, 82);
    font-size: 1rem;

}

.class_footer_container{
    display: flex;
    justify-content: space-between;
}

.author_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author_avtaar_container{
    height: 100px;
}

.author_info_container{
    display: flex;
    flex-direction: column;
}

.author_name{
    color: rgb(111, 102, 102);
}

.author_date{
    color: rgb(111, 102, 102);
}

.card_tag_container{
    font-size: 1rem;
    border: 1px solid rgb(80, 77, 77);
    border-radius: 3px;

    color: gray;
    padding: 2px;
    margin: 29px;
    margin-bottom: 45px;

}

